# Loading data with Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pokemon_data.csv")

In [3]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
pd.read_excel("pokemon_data.xlsx")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
pd.read_csv("pokemon_data.txt",delimiter='\t')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Reading Data in Pandas

In [6]:
## Read Headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
## Read specifice column by name
print(df[['Name','HP','Type 1']])

                      Name  HP   Type 1
0                Bulbasaur  45    Grass
1                  Ivysaur  60    Grass
2                 Venusaur  80    Grass
3    VenusaurMega Venusaur  80    Grass
4               Charmander  39     Fire
..                     ...  ..      ...
795                Diancie  50     Rock
796    DiancieMega Diancie  50     Rock
797    HoopaHoopa Confined  80  Psychic
798     HoopaHoopa Unbound  80  Psychic
799              Volcanion  80     Fire

[800 rows x 3 columns]

In [8]:
## Read Specific Row
print(df.iloc[0:4])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [9]:
## Read specific (R,C)
print(df.iloc[2,1])

Venusaur

In [10]:
# Access each row and index iteratively
for index, row in df.iterrows():
    print(index, row[['Name','HP']])

0 Name    Bulbasaur
HP             45
Name: 0, dtype: object
1 Name    Ivysaur
HP           60
Name: 1, dtype: object
2 Name    Venusaur
HP            80
Name: 2, dtype: object
3 Name    VenusaurMega Venusaur
HP                         80
Name: 3, dtype: object
4 Name    Charmander
HP              39
Name: 4, dtype: object
5 Name    Charmeleon
HP              58
Name: 5, dtype: object
6 Name    Charizard
HP             78
Name: 6, dtype: object
7 Name    CharizardMega Charizard X
HP                             78
Name: 7, dtype: object
8 Name    CharizardMega Charizard Y
HP                             78
Name: 8, dtype: object
9 Name    Squirtle
HP            44
Name: 9, dtype: object
10 Name    Wartortle
HP             59
Name: 10, dtype: object
11 Name    Blastoise
HP             79
Name: 11, dtype: object
12 Name    BlastoiseMega Blastoise
HP                           79
Name: 12, dtype: object
13 Name    Caterpie
HP            45
Name: 13, dtype: object
14 Name    Metapod
HP           50
Name: 14, dtype: object
15 Name    Butterfree
HP              60
Name: 15, dtype: object
16 Name    Weedle
HP          40
Name: 16, dtype: object
17 Name    Kakuna
HP          45
Name: 17, dtype: object
18 Name    Beedrill
HP            65
Name: 18, dtype: object
19 Name    BeedrillMega Beedrill
HP                         65
Name: 19, dtype: object
20 Name    Pidgey
HP          40
Name: 20, dtype: object
21 Name    Pidgeotto
HP             63
Name: 21, dtype: object
22 Name    Pidgeot
HP           83
Name: 22, dtype: object
23 Name    PidgeotMega Pidgeot
HP                       83
Name: 23, dtype: object
24 Name    Rattata
HP           30
Name: 24, dtype: object
25 Name    Raticate
HP            55
Name: 25, dtype: object
26 Name    Spearow
HP           40
Name: 26, dtype: object
27 Name    Fearow
HP          65
Name: 27, dtype: object
28 Name    Ekans
HP         35
Name: 28, dtype: object
29 Name    Arbok
HP         60
Name: 29, dtype: object
30 Name    Pikachu
HP           35
Name: 30, dtype: object
31 Name    Raichu
HP          60
Name: 31, dtype: object
32 Name    Sandshrew
HP             50
Name: 32, dtype: object
33 Name    Sandslash
HP             75
Name: 33, dtype: object
34 Name    Nidoran (Female)
HP                    55
Name: 34, dtype: object
35 Name    Nidorina
HP            70
Name: 35, dtype: object
36 Name    Nidoqueen
HP             90
Name: 36, dtype: object
37 Name    Nidoran (Male)
HP                  46
Name: 37, dtype: object
38 Name    Nidorino
HP            61
Name: 38, dtype: object
39 Name    Nidoking
HP            81
Name: 39, dtype: object
40 Name    Clefairy
HP            70
Name: 40, dtype: object
41 Name    Clefable
HP            95
Name: 41, dtype: object
42 Name    Vulpix
HP          38
Name: 42, dtype: object
43 Name    Ninetales
HP             73
Name: 43, dtype: object
44 Name    Jigglypuff
HP             115
Name: 44, dtype: object
45 Name    Wigglytuff
HP             140
Name: 45, dtype: object
46 Name    Zubat
HP         40
Name: 46, dtype: object
47 Name    Golbat
HP          75
Name: 47, dtype: object
48 Name    Oddish
HP          45
Name: 48, dtype: object
49 Name    Gloom
HP         60
Name: 49, dtype: object
50 Name    Vileplume
HP             75
Name: 50, dtype: object
51 Name    Paras
HP         35
Name: 51, dtype: object
52 Name    Parasect
HP            60
Name: 52, dtype: object
53 Name    Venonat
HP           60
Name: 53, dtype: object
54 Name    Venomoth
HP            70
Name: 54, dtype: object
55 Name    Diglett
HP           10
Name: 55, dtype: object
56 Name    Dugtrio
HP           35
Name: 56, dtype: object
57 Name    Meowth
HP          40
Name: 57, dtype: object
58 Name    Persian
HP           65
Name: 58, dtype: object
59 Name    Psyduck
HP           50
Name: 59, dtype: object
60 Name    Golduck
HP           80
Name: 60, dtype: object
61 Name    Mankey
HP          40
Name: 61, dtype: object
62 Name    Primeape
HP            65
Name: 62, dtype: object
63 Name    Growlithe
HP             55
Name: 63, dtype: object
64 Name    Arcanine
HP            90
Name: 64, dtype: object
65 Name    Poliwag
HP           40
Name: 65, dtype: object
66 Name    Poliwhirl
HP             65
Name: 66, dtype: object
67 Name    Poliwrath
HP             90
Name: 67, dtype: object
68 Name    Abra
HP        25
Name: 68, dtype: object
69 Name    Kadabra
HP           40
Name: 69, dtype: object
70 Name    Alakazam
HP            55
Name: 70, dtype: object
71 Name    AlakazamMega Alakazam
HP                         55
Name: 71, dtype: object
72 Name    Machop
HP          70
Name: 72, dtype: object
73 Name    Machoke
HP           80
Name: 73, dtype: object
74 Name    Machamp
HP           90
Name: 74, dtype: object
75 Name    Bellsprout
HP              50
Name: 75, dtype: object
76 Name    Weepinbell
HP              65
Name: 76, dtype: object
77 Name    Victreebel
HP              80
Name: 77, dtype: object
78 Name    Tentacool
HP             40
Name: 78, dtype: object
79 Name    Tentacruel
HP              80
Name: 79, dtype: object
80 Name    Geodude
HP           40
Name: 80, dtype: object
81 Name    Graveler
HP            55
Name: 81, dtype: object
82 Name    Golem
HP         80
Name: 82, dtype: object
83 Name    Ponyta
HP          50
Name: 83, dtype: object
84 Name    Rapidash
HP            65
Name: 84, dtype: object
85 Name    Slowpoke
HP            90
Name: 85, dtype: object
86 Name    Slowbro
HP           95
Name: 86, dtype: object
87 Name    SlowbroMega Slowbro
HP                       95
Name: 87, dtype: object
88 Name    Magnemite
HP             25
Name: 88, dtype: object
89 Name    Magneton
HP            50
Name: 89, dtype: object
90 Name    Farfetch'd
HP              52
Name: 90, dtype: object
91 Name    Doduo
HP         35
Name: 91, dtype: object
92 Name    Dodrio
HP          60
Name: 92, dtype: object
93 Name    Seel
HP        65
Name: 93, dtype: object
94 Name    Dewgong
HP           90
Name: 94, dtype: object
95 Name    Grimer
HP          80
Name: 95, dtype: object
96 Name    Muk
HP      105
Name: 96, dtype: object
97 Name    Shellder
HP            30
Name: 97, dtype: object
98 Name    Cloyster
HP            50
Name: 98, dtype: object
99 Name    Gastly
HP          30
Name: 99, dtype: object
100 Name    Haunter
HP           45
Name: 100, dtype: object
101 Name    Gengar
HP          60
Name: 101, dtype: object
102 Name    GengarMega Gengar
HP                     60
Name: 102, dtype: object
103 Name    Onix
HP        35
Name: 103, dtype: object
104 Name    Drowzee
HP           60
Name: 104, dtype: object
105 Name    Hypno
HP         85
Name: 105, dtype: object
106 Name    Krabby
HP          30
Name: 106, dtype: object
107 Name    Kingler
HP           55
Name: 107, dtype: object
108 Name    Voltorb
HP           40
Name: 108, dtype: object
109 Name    Electrode
HP             60
Name: 109, dtype: object
110 Name    Exeggcute
HP             60
Name: 110, dtype: object
111 Name    Exeggutor
HP             95
Name: 111, dtype: object
112 Name    Cubone
HP          50
Name: 112, dtype: object
113 Name    Marowak
HP           60
Name: 113, dtype: object
114 Name    Hitmonlee
HP             50
Name: 114, dtype: object
115 Name    Hitmonchan
HP              50
Name: 115, dtype: object
116 Name    Lickitung
HP             90
Name: 116, dtype: object
117 Name    Koffing
HP           40
Name: 117, dtype: object
118 Name    Weezing
HP           65
Name: 118, dtype: object
119 Name    Rhyhorn
HP           80
Name: 119, dtype: object
120 Name    Rhydon
HP         105
Name: 120, dtype: object
121 Name    Chansey
HP          250
Name: 121, dtype: object
122 Name    Tangela
HP           65
Name: 122, dtype: object
123 Name    Kangaskhan
HP             105
Name: 123, dtype: object
124 Name    KangaskhanMega Kangaskhan
HP                            105
Name: 124, dtype: object
125 Name    Horsea
HP          30
Name: 125, dtype: object
126 Name    Seadra
HP          55
Name: 126, dtype: object
127 Name    Goldeen
HP           45
Name: 127, dtype: object
128 Name    Seaking
HP           80
Name: 128, dtype: object
129 Name    Staryu
HP          30
Name: 129, dtype: object
130 Name    Starmie
HP           60
Name: 130, dtype: object
131 Name    Mr. Mime
HP            40
Name: 131, dtype: object
132 Name    Scyther
HP           70
Name: 132, dtype: object
133 Name    Jynx
HP        65
Name: 133, dtype: object
134 Name    Electabuzz
HP              65
Name: 134, dtype: object
135 Name    Magmar
HP          65
Name: 135, dtype: object
136 Name    Pinsir
HP          65
Name: 136, dtype: object
137 Name    PinsirMega Pinsir
HP                     65
Name: 137, dtype: object
138 Name    Tauros
HP          75
Name: 138, dtype: object
139 Name    Magikarp
HP            20
Name: 139, dtype: object
140 Name    Gyarados
HP            95
Name: 140, dtype: object
141 Name    GyaradosMega Gyarados
HP                         95
Name: 141, dtype: object
142 Name    Lapras
HP         130
Name: 142, dtype: object
143 Name    Ditto
HP         48
Name: 143, dtype: object
144 Name    Eevee
HP         55
Name: 144, dtype: object
145 Name    Vaporeon
HP           130
Name: 145, dtype: object
146 Name    Jolteon
HP           65
Name: 146, dtype: object
147 Name    Flareon
HP           65
Name: 147, dtype: object
148 Name    Porygon
HP           65
Name: 148, dtype: object
149 Name    Omanyte
HP           35
Name: 149, dtype: object
150 Name    Omastar
HP           70
Name: 150, dtype: object
151 Name    Kabuto
HP          30
Name: 151, dtype: object
152 Name    Kabutops
HP            60
Name: 152, dtype: object
153 Name    Aerodactyl
HP              80
Name: 153, dtype: object
154 Name    AerodactylMega Aerodactyl
HP                             80
Name: 154, dtype: object
155 Name    Snorlax
HP          160
Name: 155, dtype: object
156 Name    Articuno
HP            90
Name: 156, dtype: object
157 Name    Zapdos
HP          90
Name: 157, dtype: object
158 Name    Moltres
HP           90
Name: 158, dtype: object
159 Name    Dratini
HP           41
Name: 159, dtype: object
160 Name    Dragonair
HP             61
Name: 160, dtype: object
161 Name    Dragonite
HP             91
Name: 161, dtype: object
162 Name    Mewtwo
HP         106
Name: 162, dtype: object
163 Name    MewtwoMega Mewtwo X
HP                      106
Name: 163, dtype: object
164 Name    MewtwoMega Mewtwo Y
HP                      106
Name: 164, dtype: object
165 Name    Mew
HP      100
Name: 165, dtype: object
166 Name    Chikorita
HP             45
Name: 166, dtype: object
167 Name    Bayleef
HP           60
Name: 167, dtype: object
168 Name    Meganium
HP            80
Name: 168, dtype: object
169 Name    Cyndaquil
HP             39
Name: 169, dtype: object
170 Name    Quilava
HP           58
Name: 170, dtype: object
171 Name    Typhlosion
HP              78
Name: 171, dtype: object
172 Name    Totodile
HP            50
Name: 172, dtype: object
173 Name    Croconaw
HP            65
Name: 173, dtype: object
174 Name    Feraligatr
HP              85
Name: 174, dtype: object
175 Name    Sentret
HP           35
Name: 175, dtype: object
176 Name    Furret
HP          85
Name: 176, dtype: object
177 Name    Hoothoot
HP            60
Name: 177, dtype: object
178 Name    Noctowl
HP          100
Name: 178, dtype: object
179 Name    Ledyba
HP          40
Name: 179, dtype: object
180 Name    Ledian
HP          55
Name: 180, dtype: object
181 Name    Spinarak
HP            40
Name: 181, dtype: object
182 Name    Ariados
HP           70
Name: 182, dtype: object
183 Name    Crobat
HP          85
Name: 183, dtype: object
184 Name    Chinchou
HP            75
Name: 184, dtype: object
185 Name    Lanturn
HP          125
Name: 185, dtype: object
186 Name    Pichu
HP         20
Name: 186, dtype: object
187 Name    Cleffa
HP          50
Name: 187, dtype: object
188 Name    Igglybuff
HP             90
Name: 188, dtype: object
189 Name    Togepi
HP          35
Name: 189, dtype: object
190 Name    Togetic
HP           55
Name: 190, dtype: object
191 Name    Natu
HP        40
Name: 191, dtype: object
192 Name    Xatu
HP        65
Name: 192, dtype: object
193 Name    Mareep
HP          55
Name: 193, dtype: object
194 Name    Flaaffy
HP           70
Name: 194, dtype: object
195 Name    Ampharos
HP            90
Name: 195, dtype: object
196 Name    AmpharosMega Ampharos
HP                         90
Name: 196, dtype: object
197 Name    Bellossom
HP             75
Name: 197, dtype: object
198 Name    Marill
HP          70
Name: 198, dtype: object
199 Name    Azumarill
HP            100
Name: 199, dtype: object
200 Name    Sudowoodo
HP             70
Name: 200, dtype: object
201 Name    Politoed
HP            90
Name: 201, dtype: object
202 Name    Hoppip
HP          35
Name: 202, dtype: object
203 Name    Skiploom
HP            55
Name: 203, dtype: object
204 Name    Jumpluff
HP            75
Name: 204, dtype: object
205 Name    Aipom
HP         55
Name: 205, dtype: object
206 Name    Sunkern
HP           30
Name: 206, dtype: object
207 Name    Sunflora
HP            75
Name: 207, dtype: object
208 Name    Yanma
HP         65
Name: 208, dtype: object
209 Name    Wooper
HP          55
Name: 209, dtype: object
210 Name    Quagsire
HP            95
Name: 210, dtype: object
211 Name    Espeon
HP          65
Name: 211, dtype: object
212 Name    Umbreon
HP           95
Name: 212, dtype: object
213 Name    Murkrow
HP           60
Name: 213, dtype: object
214 Name    Slowking
HP            95
Name: 214, dtype: object
215 Name    Misdreavus
HP              60
Name: 215, dtype: object
216 Name    Unown
HP         48
Name: 216, dtype: object
217 Name    Wobbuffet
HP            190
Name: 217, dtype: object
218 Name    Girafarig
HP             70
Name: 218, dtype: object
219 Name    Pineco
HP          50
Name: 219, dtype: object
220 Name    Forretress
HP              75
Name: 220, dtype: object
221 Name    Dunsparce
HP            100
Name: 221, dtype: object
222 Name    Gligar
HP          65
Name: 222, dtype: object
223 Name    Steelix
HP           75
Name: 223, dtype: object
224 Name    SteelixMega Steelix
HP                       75
Name: 224, dtype: object
225 Name    Snubbull
HP            60
Name: 225, dtype: object
226 Name    Granbull
HP            90
Name: 226, dtype: object
227 Name    Qwilfish
HP            65
Name: 227, dtype: object
228 Name    Scizor
HP          70
Name: 228, dtype: object
229 Name    ScizorMega Scizor
HP                     70
Name: 229, dtype: object
230 Name    Shuckle
HP           20
Name: 230, dtype: object

231 Name    Heracross
HP             80
Name: 231, dtype: object
232 Name    HeracrossMega Heracross
HP                           80
Name: 232, dtype: object
233 Name    Sneasel
HP           55
Name: 233, dtype: object
234 Name    Teddiursa
HP             60
Name: 234, dtype: object
235 Name    Ursaring
HP            90
Name: 235, dtype: object
236 Name    Slugma
HP          40
Name: 236, dtype: object
237 Name    Magcargo
HP            50
Name: 237, dtype: object
238 Name    Swinub
HP          50
Name: 238, dtype: object
239 Name    Piloswine
HP            100
Name: 239, dtype: object
240 Name    Corsola
HP           55
Name: 240, dtype: object
241 Name    Remoraid
HP            35
Name: 241, dtype: object
242 Name    Octillery
HP             75
Name: 242, dtype: object
243 Name    Delibird
HP            45
Name: 243, dtype: object
244 Name    Mantine
HP           65
Name: 244, dtype: object
245 Name    Skarmory
HP            65
Name: 245, dtype: object
246 Name    Houndour
HP            45
Name: 246, dtype: object
247 Name    Houndoom
HP            75
Name: 247, dtype: object
248 Name    HoundoomMega Houndoom
HP                         75
Name: 248, dtype: object
249 Name    Kingdra
HP           75
Name: 249, dtype: object
250 Name    Phanpy
HP          90
Name: 250, dtype: object
251 Name    Donphan
HP           90
Name: 251, dtype: object
252 Name    Porygon2
HP            85
Name: 252, dtype: object
253 Name    Stantler
HP            73
Name: 253, dtype: object
254 Name    Smeargle
HP            55
Name: 254, dtype: object
255 Name    Tyrogue
HP           35
Name: 255, dtype: object
256 Name    Hitmontop
HP             50
Name: 256, dtype: object
257 Name    Smoochum
HP            45
Name: 257, dtype: object
258 Name    Elekid
HP          45
Name: 258, dtype: object
259 Name    Magby
HP         45
Name: 259, dtype: object
260 Name    Miltank
HP           95
Name: 260, dtype: object
261 Name    Blissey
HP          255
Name: 261, dtype: object
262 Name    Raikou
HP          90
Name: 262, dtype: object
263 Name    Entei
HP        115
Name: 263, dtype: object
264 Name    Suicune
HP          100
Name: 264, dtype: object
265 Name    Larvitar
HP            50
Name: 265, dtype: object
266 Name    Pupitar
HP           70
Name: 266, dtype: object
267 Name    Tyranitar
HP            100
Name: 267, dtype: object
268 Name    TyranitarMega Tyranitar
HP                          100
Name: 268, dtype: object
269 Name    Lugia
HP        106
Name: 269, dtype: object
270 Name    Ho-oh
HP        106
Name: 270, dtype: object
271 Name    Celebi
HP         100
Name: 271, dtype: object
272 Name    Treecko
HP           40
Name: 272, dtype: object
273 Name    Grovyle
HP           50
Name: 273, dtype: object
274 Name    Sceptile
HP            70
Name: 274, dtype: object
275 Name    SceptileMega Sceptile
HP                         70
Name: 275, dtype: object
276 Name    Torchic
HP           45
Name: 276, dtype: object
277 Name    Combusken
HP             60
Name: 277, dtype: object
278 Name    Blaziken
HP            80
Name: 278, dtype: object
279 Name    BlazikenMega Blaziken
HP                         80
Name: 279, dtype: object
280 Name    Mudkip
HP          50
Name: 280, dtype: object
281 Name    Marshtomp
HP             70
Name: 281, dtype: object
282 Name    Swampert
HP           100
Name: 282, dtype: object
283 Name    SwampertMega Swampert
HP                        100
Name: 283, dtype: object
284 Name    Poochyena
HP             35
Name: 284, dtype: object
285 Name    Mightyena
HP             70
Name: 285, dtype: object
286 Name    Zigzagoon
HP             38
Name: 286, dtype: object
287 Name    Linoone
HP           78
Name: 287, dtype: object
288 Name    Wurmple
HP           45
Name: 288, dtype: object
289 Name    Silcoon
HP           50
Name: 289, dtype: object
290 Name    Beautifly
HP             60
Name: 290, dtype: object
291 Name    Cascoon
HP           50
Name: 291, dtype: object
292 Name    Dustox
HP          60
Name: 292, dtype: object
293 Name    Lotad
HP         40
Name: 293, dtype: object
294 Name    Lombre
HP          60
Name: 294, dtype: object
295 Name    Ludicolo
HP            80
Name: 295, dtype: object
296 Name    Seedot
HP          40
Name: 296, dtype: object
297 Name    Nuzleaf
HP           70
Name: 297, dtype: object
298 Name    Shiftry
HP           90
Name: 298, dtype: object
299 Name    Taillow
HP           40
Name: 299, dtype: object
300 Name    Swellow
HP           60
Name: 300, dtype: object
301 Name    Wingull
HP           40
Name: 301, dtype: object
302 Name    Pelipper
HP            60
Name: 302, dtype: object
303 Name    Ralts
HP         28
Name: 303, dtype: object
304 Name    Kirlia
HP          38
Name: 304, dtype: object
305 Name    Gardevoir
HP             68
Name: 305, dtype: object
306 Name    GardevoirMega Gardevoir
HP                           68
Name: 306, dtype: object
307 Name    Surskit
HP           40
Name: 307, dtype: object
308 Name    Masquerain
HP              70
Name: 308, dtype: object
309 Name    Shroomish
HP             60
Name: 309, dtype: object
310 Name    Breloom
HP           60
Name: 310, dtype: object
311 Name    Slakoth
HP           60
Name: 311, dtype: object
312 Name    Vigoroth
HP            80
Name: 312, dtype: object
313 Name    Slaking
HP          150
Name: 313, dtype: object
314 Name    Nincada
HP           31
Name: 314, dtype: object
315 Name    Ninjask
HP           61
Name: 315, dtype: object
316 Name    Shedinja
HP             1
Name: 316, dtype: object
317 Name    Whismur
HP           64
Name: 317, dtype: object
318 Name    Loudred
HP           84
Name: 318, dtype: object
319 Name    Exploud
HP          104
Name: 319, dtype: object
320 Name    Makuhita
HP            72
Name: 320, dtype: object
321 Name    Hariyama
HP           144
Name: 321, dtype: object
322 Name    Azurill
HP           50
Name: 322, dtype: object
323 Name    Nosepass
HP            30
Name: 323, dtype: object
324 Name    Skitty
HP          50
Name: 324, dtype: object
325 Name    Delcatty
HP            70
Name: 325, dtype: object
326 Name    Sableye
HP           50
Name: 326, dtype: object
327 Name    SableyeMega Sableye
HP                       50
Name: 327, dtype: object
328 Name    Mawile
HP          50
Name: 328, dtype: object
329 Name    MawileMega Mawile
HP                     50
Name: 329, dtype: object
330 Name    Aron
HP        50
Name: 330, dtype: object
331 Name    Lairon
HP          60
Name: 331, dtype: object
332 Name    Aggron
HP          70
Name: 332, dtype: object
333 Name    AggronMega Aggron
HP                     70
Name: 333, dtype: object
334 Name    Meditite
HP            30
Name: 334, dtype: object
335 Name    Medicham
HP            60
Name: 335, dtype: object
336 Name    MedichamMega Medicham
HP                         60
Name: 336, dtype: object
337 Name    Electrike
HP             40
Name: 337, dtype: object
338 Name    Manectric
HP             70
Name: 338, dtype: object
339 Name    ManectricMega Manectric
HP                           70
Name: 339, dtype: object
340 Name    Plusle
HP          60
Name: 340, dtype: object
341 Name    Minun
HP         60
Name: 341, dtype: object
342 Name    Volbeat
HP           65
Name: 342, dtype: object
343 Name    Illumise
HP            65
Name: 343, dtype: object
344 Name    Roselia
HP           50
Name: 344, dtype: object
345 Name    Gulpin
HP          70
Name: 345, dtype: object
346 Name    Swalot
HP         100
Name: 346, dtype: object
347 Name    Carvanha
HP            45
Name: 347, dtype: object
348 Name    Sharpedo
HP            70
Name: 348, dtype: object
349 Name    SharpedoMega Sharpedo
HP                         70
Name: 349, dtype: object
350 Name    Wailmer
HP          130
Name: 350, dtype: object
351 Name    Wailord
HP          170
Name: 351, dtype: object
352 Name    Numel
HP         60
Name: 352, dtype: object
353 Name    Camerupt
HP            70
Name: 353, dtype: object
354 Name    CameruptMega Camerupt
HP                         70
Name: 354, dtype: object
355 Name    Torkoal
HP           70
Name: 355, dtype: object
356 Name    Spoink
HP          60
Name: 356, dtype: object
357 Name    Grumpig
HP           80
Name: 357, dtype: object
358 Name    Spinda
HP          60
Name: 358, dtype: object
359 Name    Trapinch
HP            45
Name: 359, dtype: object
360 Name    Vibrava
HP           50
Name: 360, dtype: object
361 Name    Flygon
HP          80
Name: 361, dtype: object
362 Name    Cacnea
HP          50
Name: 362, dtype: object
363 Name    Cacturne
HP            70
Name: 363, dtype: object
364 Name    Swablu
HP          45
Name: 364, dtype: object
365 Name    Altaria
HP           75
Name: 365, dtype: object
366 Name    AltariaMega Altaria
HP                       75
Name: 366, dtype: object
367 Name    Zangoose
HP            73
Name: 367, dtype: object
368 Name    Seviper
HP           73
Name: 368, dtype: object
369 Name    Lunatone
HP            70
Name: 369, dtype: object
370 Name    Solrock
HP           70
Name: 370, dtype: object
371 Name    Barboach
HP            50
Name: 371, dtype: object
372 Name    Whiscash
HP           110
Name: 372, dtype: object
373 Name    Corphish
HP            43
Name: 373, dtype: object
374 Name    Crawdaunt
HP             63
Name: 374, dtype: object
375 Name    Baltoy
HP          40
Name: 375, dtype: object
376 Name    Claydol
HP           60
Name: 376, dtype: object
377 Name    Lileep
HP          66
Name: 377, dtype: object
378 Name    Cradily
HP           86
Name: 378, dtype: object
379 Name    Anorith
HP           45
Name: 379, dtype: object
380 Name    Armaldo
HP           75
Name: 380, dtype: object
381 Name    Feebas
HP          20
Name: 381, dtype: object
382 Name    Milotic
HP           95
Name: 382, dtype: object
383 Name    Castform
HP            70
Name: 383, dtype: object
384 Name    Kecleon
HP           60
Name: 384, dtype: object
385 Name    Shuppet
HP           44
Name: 385, dtype: object
386 Name    Banette
HP           64
Name: 386, dtype: object
387 Name    BanetteMega Banette
HP                       64
Name: 387, dtype: object
388 Name    Duskull
HP           20
Name: 388, dtype: object
389 Name    Dusclops
HP            40
Name: 389, dtype: object
390 Name    Tropius
HP           99
Name: 390, dtype: object
391 Name    Chimecho
HP            65
Name: 391, dtype: object
392 Name    Absol
HP         65
Name: 392, dtype: object
393 Name    AbsolMega Absol
HP                   65
Name: 393, dtype: object
394 Name    Wynaut
HP          95
Name: 394, dtype: object
395 Name    Snorunt
HP           50
Name: 395, dtype: object
396 Name    Glalie
HP          80
Name: 396, dtype: object
397 Name    GlalieMega Glalie
HP                     80
Name: 397, dtype: object
398 Name    Spheal
HP          70
Name: 398, dtype: object
399 Name    Sealeo
HP          90
Name: 399, dtype: object
400 Name    Walrein
HP          110
Name: 400, dtype: object
401 Name    Clamperl
HP            35
Name: 401, dtype: object
402 Name    Huntail
HP           55
Name: 402, dtype: object
403 Name    Gorebyss
HP            55
Name: 403, dtype: object
404 Name    Relicanth
HP            100
Name: 404, dtype: object
405 Name    Luvdisc
HP           43
Name: 405, dtype: object
406 Name    Bagon
HP         45
Name: 406, dtype: object
407 Name    Shelgon
HP           65
Name: 407, dtype: object
408 Name    Salamence
HP             95
Name: 408, dtype: object
409 Name    SalamenceMega Salamence
HP                           95
Name: 409, dtype: object
410 Name    Beldum
HP          40
Name: 410, dtype: object
411 Name    Metang
HP          60
Name: 411, dtype: object
412 Name    Metagross
HP             80
Name: 412, dtype: object
413 Name    MetagrossMega Metagross
HP                           80
Name: 413, dtype: object
414 Name    Regirock
HP            80
Name: 414, dtype: object
415 Name    Regice
HP          80
Name: 415, dtype: object
416 Name    Registeel
HP             80
Name: 416, dtype: object
417 Name    Latias
HP          80
Name: 417, dtype: object
418 Name    LatiasMega Latias
HP                     80
Name: 418, dtype: object
419 Name    Latios
HP          80
Name: 419, dtype: object
420 Name    LatiosMega Latios
HP                     80
Name: 420, dtype: object
421 Name    Kyogre
HP         100
Name: 421, dtype: object
422 Name    KyogrePrimal Kyogre
HP                      100
Name: 422, dtype: object
423 Name    Groudon
HP          100
Name: 423, dtype: object
424 Name    GroudonPrimal Groudon
HP                        100
Name: 424, dtype: object
425 Name    Rayquaza
HP           105
Name: 425, dtype: object
426 Name    RayquazaMega Rayquaza
HP                        105
Name: 426, dtype: object
427 Name    Jirachi
HP          100
Name: 427, dtype: object
428 Name    DeoxysNormal Forme
HP                      50
Name: 428, dtype: object
429 Name    DeoxysAttack Forme
HP                      50
Name: 429, dtype: object
430 Name    DeoxysDefense Forme
HP                       50
Name: 430, dtype: object
431 Name    DeoxysSpeed Forme
HP                     50
Name: 431, dtype: object
432 Name    Turtwig
HP           55
Name: 432, dtype: object
433 Name    Grotle
HP          75
Name: 433, dtype: object
434 Name    Torterra
HP            95
Name: 434, dtype: object
435 Name    Chimchar
HP            44
Name: 435, dtype: object
436 Name    Monferno
HP            64
Name: 436, dtype: object
437 Name    Infernape
HP             76
Name: 437, dtype: object
438 Name    Piplup
HP          53
Name: 438, dtype: object
439 Name    Prinplup
HP            64
Name: 439, dtype: object
440 Name    Empoleon
HP            84
Name: 440, dtype: object
441 Name    Starly
HP          40
Name: 441, dtype: object
442 Name    Staravia
HP            55
Name: 442, dtype: object
443 Name    Staraptor
HP             85
Name: 443, dtype: object
444 Name    Bidoof
HP          59
Name: 444, dtype: object
445 Name    Bibarel
HP           79
Name: 445, dtype: object
446 Name    Kricketot
HP             37
Name: 446, dtype: object
447 Name    Kricketune
HP              77
Name: 447, dtype: object
448 Name    Shinx
HP         45
Name: 448, dtype: object
449 Name    Luxio
HP         60
Name: 449, dtype: object
450 Name    Luxray
HP          80
Name: 450, dtype: object
451 Name    Budew
HP         40
Name: 451, dtype: object
452 Name    Roserade
HP            60
Name: 452, dtype: object
453 Name    Cranidos
HP            67
Name: 453, dtype: object
454 Name    Rampardos
HP             97
Name: 454, dtype: object
455 Name    Shieldon
HP            30
Name: 455, dtype: object
456 Name    Bastiodon
HP             60
Name: 456, dtype: object
457 Name    Burmy
HP         40
Name: 457, dtype: object
458 Name    WormadamPlant Cloak
HP                       60
Name: 458, dtype: object
459 Name    WormadamSandy Cloak
HP                       60
Name: 459, dtype: object
460 Name    WormadamTrash Cloak
HP                       60
Name: 460, dtype: object
461 Name    Mothim
HP          70
Name: 461, dtype: object
462 Name    Combee
HP          30
Name: 462, dtype: object
463 Name    Vespiquen
HP             70
Name: 463, dtype: object
464 Name    Pachirisu
HP             60
Name: 464, dtype: object
465 Name    Buizel
HP          55
Name: 465, dtype: object
466 Name    Floatzel
HP            85
Name: 466, dtype: object
467 Name    Cherubi
HP           45
Name: 467, dtype: object
468 Name    Cherrim
HP           70
Name: 468, dtype: object
469 Name    Shellos
HP           76
Name: 469, dtype: object
470 Name    Gastrodon
HP            111
Name: 470, dtype: object
471 Name    Ambipom
HP           75
Name: 471, dtype: object
472 Name    Drifloon
HP            90
Name: 472, dtype: object
473 Name    Drifblim
HP           150
Name: 473, dtype: object
474 Name    Buneary
HP           55
Name: 474, dtype: object
475 Name    Lopunny
HP           65
Name: 475, dtype: object
476 Name    LopunnyMega Lopunny
HP                       65
Name: 476, dtype: object
477 Name    Mismagius
HP             60
Name: 477, dtype: object
478 Name    Honchkrow
HP            100
Name: 478, dtype: object
479 Name    Glameow
HP           49
Name: 479, dtype: object
480 Name    Purugly
HP           71
Name: 480, dtype: object
481 Name    Chingling
HP             45
Name: 481, dtype: object
482 Name    Stunky
HP          63
Name: 482, dtype: object
483 Name    Skuntank
HP           103
Name: 483, dtype: object
484 Name    Bronzor
HP           57
Name: 484, dtype: object
485 Name    Bronzong
HP            67
Name: 485, dtype: object
486 Name    Bonsly
HP          50
Name: 486, dtype: object
487 Name    Mime Jr.
HP            20
Name: 487, dtype: object
488 Name    Happiny
HP          100
Name: 488, dtype: object
489 Name    Chatot
HP          76
Name: 489, dtype: object
490 Name    Spiritomb
HP             50
Name: 490, dtype: object
491 Name    Gible
HP         58
Name: 491, dtype: object
492 Name    Gabite
HP          68
Name: 492, dtype: object
493 Name    Garchomp
HP           108
Name: 493, dtype: object
494 Name    GarchompMega Garchomp
HP                        108
Name: 494, dtype: object
495 Name    Munchlax
HP           135
Name: 495, dtype: object
496 Name    Riolu
HP         40
Name: 496, dtype: object
497 Name    Lucario
HP           70
Name: 497, dtype: object
498 Name    LucarioMega Lucario
HP                       70
Name: 498, dtype: object
499 Name    Hippopotas
HP              68
Name: 499, dtype: object
500 Name    Hippowdon
HP            108
Name: 500, dtype: object
501 Name    Skorupi
HP           40
Name: 501, dtype: object
502 Name    Drapion
HP           70
Name: 502, dtype: object
503 Name    Croagunk
HP            48
Name: 503, dtype: object
504 Name    Toxicroak
HP             83
Name: 504, dtype: object
505 Name    Carnivine
HP             74
Name: 505, dtype: object
506 Name    Finneon
HP           49
Name: 506, dtype: object
507 Name    Lumineon
HP            69
Name: 507, dtype: object
508 Name    Mantyke
HP           45
Name: 508, dtype: object
509 Name    Snover
HP          60
Name: 509, dtype: object
510 Name    Abomasnow
HP             90
Name: 510, dtype: object
511 Name    AbomasnowMega Abomasnow
HP                           90
Name: 511, dtype: object
512 Name    Weavile
HP           70
Name: 512, dtype: object
513 Name    Magnezone
HP             70
Name: 513, dtype: object
514 Name    Lickilicky
HP             110
Name: 514, dtype: object
515 Name    Rhyperior
HP            115
Name: 515, dtype: object
516 Name    Tangrowth
HP            100
Name: 516, dtype: object
517 Name    Electivire
HP              75
Name: 517, dtype: object
518 Name    Magmortar
HP             75
Name: 518, dtype: object
519 Name    Togekiss
HP            85
Name: 519, dtype: object
520 Name    Yanmega
HP           86
Name: 520, dtype: object
521 Name    Leafeon
HP           65
Name: 521, dtype: object
522 Name    Glaceon
HP           65
Name: 522, dtype: object
523 Name    Gliscor
HP           75
Name: 523, dtype: object
524 Name    Mamoswine
HP            110
Name: 524, dtype: object
525 Name    Porygon-Z
HP             85
Name: 525, dtype: object
526 Name    Gallade
HP           68
Name: 526, dtype: object
527 Name    GalladeMega Gallade
HP                       68
Name: 527, dtype: object
528 Name    Probopass
HP             60
Name: 528, dtype: object
529 Name    Dusknoir
HP            45
Name: 529, dtype: object
530 Name    Froslass
HP            70
Name: 530, dtype: object
531 Name    Rotom
HP         50
Name: 531, dtype: object
532 Name    RotomHeat Rotom
HP                   50
Name: 532, dtype: object
533 Name    RotomWash Rotom
HP                   50
Name: 533, dtype: object
534 Name    RotomFrost Rotom
HP                    50
Name: 534, dtype: object
535 Name    RotomFan Rotom
HP                  50
Name: 535, dtype: object
536 Name    RotomMow Rotom
HP                  50
Name: 536, dtype: object
537 Name    Uxie
HP        75
Name: 537, dtype: object
538 Name    Mesprit
HP           80
Name: 538, dtype: object
539 Name    Azelf

571 Name    Simisage
HP            75
Name: 571, dtype: object
572 Name    Pansear
HP           50
Name: 572, dtype: object
573 Name    Simisear
HP            75
Name: 573, dtype: object
574 Name    Panpour
HP           50
Name: 574, dtype: object
575 Name    Simipour
HP            75
Name: 575, dtype: object
576 Name    Munna
HP         76
Name: 576, dtype: object
577 Name    Musharna
HP           116
Name: 577, dtype: object
578 Name    Pidove
HP          50
Name: 578, dtype: object
579 Name    Tranquill
HP             62
Name: 579, dtype: object
580 Name    Unfezant
HP            80
Name: 580, dtype: object
581 Name    Blitzle
HP           45
Name: 581, dtype: object
582 Name    Zebstrika
HP             75
Name: 582, dtype: object
583 Name    Roggenrola
HP              55
Name: 583, dtype: object
584 Name    Boldore
HP           70
Name: 584, dtype: object
585 Name    Gigalith
HP            85
Name: 585, dtype: object
586 Name    Woobat
HP          55
Name: 586, dtype: object
587 Name    Swoobat
HP           67
Name: 587, dtype: object
588 Name    Drilbur
HP           60
Name: 588, dtype: object
589 Name    Excadrill
HP            110
Name: 589, dtype: object
590 Name    Audino
HP         103
Name: 590, dtype: object
591 Name    AudinoMega Audino
HP                    103
Name: 591, dtype: object
592 Name    Timburr
HP           75
Name: 592, dtype: object
593 Name    Gurdurr
HP           85
Name: 593, dtype: object
594 Name    Conkeldurr
HP             105
Name: 594, dtype: object
595 Name    Tympole
HP           50
Name: 595, dtype: object
596 Name    Palpitoad
HP             75
Name: 596, dtype: object
597 Name    Seismitoad
HP             105
Name: 597, dtype: object
598 Name    Throh
HP        120
Name: 598, dtype: object
599 Name    Sawk
HP        75
Name: 599, dtype: object
600 Name    Sewaddle
HP            45
Name: 600, dtype: object
601 Name    Swadloon
HP            55
Name: 601, dtype: object
602 Name    Leavanny
HP            75
Name: 602, dtype: object
603 Name    Venipede
HP            30
Name: 603, dtype: object
604 Name    Whirlipede
HP              40
Name: 604, dtype: object
605 Name    Scolipede
HP             60
Name: 605, dtype: object
606 Name    Cottonee
HP            40
Name: 606, dtype: object
607 Name    Whimsicott
HP              60
Name: 607, dtype: object
608 Name    Petilil
HP           45
Name: 608, dtype: object
609 Name    Lilligant
HP             70
Name: 609, dtype: object
610 Name    Basculin
HP            70
Name: 610, dtype: object
611 Name    Sandile
HP           50
Name: 611, dtype: object
612 Name    Krokorok
HP            60
Name: 612, dtype: object
613 Name    Krookodile
HP              95
Name: 613, dtype: object
614 Name    Darumaka
HP            70
Name: 614, dtype: object
615 Name    DarmanitanStandard Mode
HP                          105
Name: 615, dtype: object
616 Name    DarmanitanZen Mode
HP                     105
Name: 616, dtype: object
617 Name    Maractus
HP            75
Name: 617, dtype: object
618 Name    Dwebble
HP           50
Name: 618, dtype: object
619 Name    Crustle
HP           70
Name: 619, dtype: object
620 Name    Scraggy
HP           50
Name: 620, dtype: object
621 Name    Scrafty
HP           65
Name: 621, dtype: object
622 Name    Sigilyph
HP            72
Name: 622, dtype: object
623 Name    Yamask
HP          38
Name: 623, dtype: object
624 Name    Cofagrigus
HP              58
Name: 624, dtype: object
625 Name    Tirtouga
HP            54
Name: 625, dtype: object
626 Name    Carracosta
HP              74
Name: 626, dtype: object
627 Name    Archen
HP          55
Name: 627, dtype: object
628 Name    Archeops
HP            75
Name: 628, dtype: object
629 Name    Trubbish
HP            50
Name: 629, dtype: object
630 Name    Garbodor
HP            80
Name: 630, dtype: object
631 Name    Zorua
HP         40
Name: 631, dtype: object
632 Name    Zoroark
HP           60
Name: 632, dtype: object
633 Name    Minccino
HP            55
Name: 633, dtype: object
634 Name    Cinccino
HP            75
Name: 634, dtype: object
635 Name    Gothita
HP           45
Name: 635, dtype: object
636 Name    Gothorita
HP             60
Name: 636, dtype: object
637 Name    Gothitelle
HP              70
Name: 637, dtype: object
638 Name    Solosis
HP           45
Name: 638, dtype: object
639 Name    Duosion
HP           65
Name: 639, dtype: object
640 Name    Reuniclus
HP            110
Name: 640, dtype: object
641 Name    Ducklett
HP            62
Name: 641, dtype: object
642 Name    Swanna
HP          75
Name: 642, dtype: object
643 Name    Vanillite
HP             36
Name: 643, dtype: object
644 Name    Vanillish
HP             51
Name: 644, dtype: object
645 Name    Vanilluxe
HP             71
Name: 645, dtype: object
646 Name    Deerling
HP            60
Name: 646, dtype: object
647 Name    Sawsbuck
HP            80
Name: 647, dtype: object
648 Name    Emolga
HP          55
Name: 648, dtype: object
649 Name    Karrablast
HP              50
Name: 649, dtype: object
650 Name    Escavalier
HP              70
Name: 650, dtype: object
651 Name    Foongus
HP           69
Name: 651, dtype: object
652 Name    Amoonguss
HP            114
Name: 652, dtype: object
653 Name    Frillish
HP            55
Name: 653, dtype: object
654 Name    Jellicent
HP            100
Name: 654, dtype: object
655 Name    Alomomola
HP            165
Name: 655, dtype: object
656 Name    Joltik
HP          50
Name: 656, dtype: object
657 Name    Galvantula
HP              70
Name: 657, dtype: object
658 Name    Ferroseed
HP             44
Name: 658, dtype: object
659 Name    Ferrothorn
HP              74
Name: 659, dtype: object
660 Name    Klink
HP         40
Name: 660, dtype: object
661 Name    Klang
HP         60
Name: 661, dtype: object
662 Name    Klinklang
HP             60
Name: 662, dtype: object
663 Name    Tynamo
HP          35
Name: 663, dtype: object
664 Name    Eelektrik
HP             65
Name: 664, dtype: object
665 Name    Eelektross
HP              85
Name: 665, dtype: object
666 Name    Elgyem
HP          55
Name: 666, dtype: object
667 Name    Beheeyem
HP            75
Name: 667, dtype: object
668 Name    Litwick
HP           50
Name: 668, dtype: object
669 Name    Lampent
HP           60
Name: 669, dtype: object
670 Name    Chandelure
HP              60
Name: 670, dtype: object
671 Name    Axew
HP        46
Name: 671, dtype: object
672 Name    Fraxure
HP           66
Name: 672, dtype: object
673 Name    Haxorus
HP           76
Name: 673, dtype: object
674 Name    Cubchoo
HP           55
Name: 674, dtype: object
675 Name    Beartic
HP           95
Name: 675, dtype: object
676 Name    Cryogonal
HP             70
Name: 676, dtype: object
677 Name    Shelmet
HP           50
Name: 677, dtype: object
678 Name    Accelgor
HP            80
Name: 678, dtype: object
679 Name    Stunfisk
HP           109
Name: 679, dtype: object
680 Name    Mienfoo
HP           45
Name: 680, dtype: object
681 Name    Mienshao
HP            65
Name: 681, dtype: object
682 Name    Druddigon
HP             77
Name: 682, dtype: object
683 Name    Golett
HP          59
Name: 683, dtype: object
684 Name    Golurk
HP          89
Name: 684, dtype: object
685 Name    Pawniard
HP            45
Name: 685, dtype: object
686 Name    Bisharp
HP           65
Name: 686, dtype: object
687 Name    Bouffalant
HP              95
Name: 687, dtype: object
688 Name    Rufflet
HP           70
Name: 688, dtype: object
689 Name    Braviary
HP           100
Name: 689, dtype: object
690 Name    Vullaby
HP           70
Name: 690, dtype: object
691 Name    Mandibuzz
HP            110
Name: 691, dtype: object
692 Name    Heatmor
HP           85
Name: 692, dtype: object
693 Name    Durant
HP          58
Name: 693, dtype: object
694 Name    Deino
HP         52
Name: 694, dtype: object
695 Name    Zweilous
HP            72
Name: 695, dtype: object
696 Name    Hydreigon
HP             92
Name: 696, dtype: object
697 Name    Larvesta
HP            55
Name: 697, dtype: object
698 Name    Volcarona
HP             85
Name: 698, dtype: object
699 Name    Cobalion
HP            91
Name: 699, dtype: object
700 Name    Terrakion
HP             91
Name: 700, dtype: object
701 Name    Virizion
HP            91
Name: 701, dtype: object
702 Name    TornadusIncarnate Forme
HP                           79
Name: 702, dtype: object
703 Name    TornadusTherian Forme
HP                         79
Name: 703, dtype: object
704 Name    ThundurusIncarnate Forme
HP                            79
Name: 704, dtype: object
705 Name    ThundurusTherian Forme
HP                          79
Name: 705, dtype: object
706 Name    Reshiram
HP           100
Name: 706, dtype: object
707 Name    Zekrom
HP         100
Name: 707, dtype: object
708 Name    LandorusIncarnate Forme
HP                           89
Name: 708, dtype: object
709 Name    LandorusTherian Forme
HP                         89
Name: 709, dtype: object
710 Name    Kyurem
HP         125
Name: 710, dtype: object
711 Name    KyuremBlack Kyurem
HP                     125
Name: 711, dtype: object
712 Name    KyuremWhite Kyurem
HP                     125
Name: 712, dtype: object
713 Name    KeldeoOrdinary Forme
HP                        91
Name: 713, dtype: object
714 Name    KeldeoResolute Forme
HP                        91
Name: 714, dtype: object
715 Name    MeloettaAria Forme
HP                     100
Name: 715, dtype: object
716 Name    MeloettaPirouette Forme
HP                          100
Name: 716, dtype: object
717 Name    Genesect
HP            71
Name: 717, dtype: object
718 Name    Chespin
HP           56
Name: 718, dtype: object
719 Name    Quilladin
HP             61
Name: 719, dtype: object
720 Name    Chesnaught
HP              88
Name: 720, dtype: object
721 Name    Fennekin
HP            40
Name: 721, dtype: object
722 Name    Braixen
HP           59
Name: 722, dtype: object
723 Name    Delphox
HP           75
Name: 723, dtype: object
724 Name    Froakie
HP           41
Name: 724, dtype: object
725 Name    Frogadier
HP             54
Name: 725, dtype: object
726 Name    Greninja
HP            72
Name: 726, dtype: object
727 Name    Bunnelby
HP            38
Name: 727, dtype: object
728 Name    Diggersby
HP             85
Name: 728, dtype: object
729 Name    Fletchling
HP              45
Name: 729, dtype: object
730 Name    Fletchinder
HP               62
Name: 730, dtype: object
731 Name    Talonflame
HP              78
Name: 731, dtype: object
732 Name    Scatterbug
HP              38
Name: 732, dtype: object
733 Name    Spewpa
HP          45
Name: 733, dtype: object
734 Name    Vivillon
HP            80
Name: 734, dtype: object
735 Name    Litleo
HP          62
Name: 735, dtype: object
736 Name    Pyroar
HP          86
Name: 736, dtype: object
737 Name    FlabÃ©bÃ©
HP           44
Name: 737, dtype: object
738 Name    Floette
HP           54
Name: 738, dtype: object
739 Name    Florges
HP           78
Name: 739, dtype: object
740 Name    Skiddo
HP          66
Name: 740, dtype: object
741 Name    Gogoat
HP         123
Name: 741, dtype: object
742 Name    Pancham
HP           67
Name: 742, dtype: object
743 Name    Pangoro
HP           95
Name: 743, dtype: object
744 Name    Furfrou
HP           75
Name: 744, dtype: object
745 Name    Espurr
HP          62
Name: 745, dtype: object
746 Name    MeowsticMale
HP                74
Name: 746, dtype: object
747 Name    MeowsticFemale
HP                  74
Name: 747, dtype: object
748 Name    Honedge
HP           45
Name: 748, dtype: object
749 Name    Doublade
HP            59
Name: 749, dtype: object
750 Name    AegislashBlade Forme
HP                        60
Name: 750, dtype: object
751 Name    AegislashShield Forme
HP                         60
Name: 751, dtype: object
752 Name    Spritzee
HP            78
Name: 752, dtype: object
753 Name    Aromatisse
HP             101
Name: 753, dtype: object
754 Name    Swirlix
HP           62
Name: 754, dtype: object
755 Name    Slurpuff
HP            82
Name: 755, dtype: object
756 Name    Inkay
HP         53
Name: 756, dtype: object
757 Name    Malamar
HP           86
Name: 757, dtype: object
758 Name    Binacle
HP           42
Name: 758, dtype: object
759 Name    Barbaracle
HP              72
Name: 759, dtype: object
760 Name    Skrelp
HP          50
Name: 760, dtype: object
761 Name    Dragalge
HP            65
Name: 761, dtype: object
762 Name    Clauncher
HP             50
Name: 762, dtype: object
763 Name    Clawitzer
HP             71
Name: 763, dtype: object
764 Name    Helioptile
HP              44
Name: 764, dtype: object
765 Name    Heliolisk
HP             62
Name: 765, dtype: object
766 Name    Tyrunt
HP          58
Name: 766, dtype: object
767 Name    Tyrantrum
HP             82
Name: 767, dtype: object
768 Name    Amaura
HP          77
Name: 768, dtype: object
769 Name    Aurorus
HP          123
Name: 769, dtype: object
770 Name    Sylveon
HP           95
Name: 770, dtype: object
771 Name    Hawlucha
HP            78
Name: 771, dtype: object
772 Name    Dedenne
HP           67
Name: 772, dtype: object
773 Name    Carbink
HP           50
Name: 773, dtype: object
774 Name    Goomy
HP         45
Name: 774, dtype: object
775 Name    Sliggoo
HP           68
Name: 775, dtype: object
776 Name    Goodra
HP          90
Name: 776, dtype: object
777 Name    Klefki
HP          57
Name: 777, dtype: object
778 Name    Phantump
HP            43
Name: 778, dtype: object
779 Name    Trevenant
HP             85
Name: 779, dtype: object
780 Name    PumpkabooAverage Size
HP                         49
Name: 780, dtype: object
781 Name    PumpkabooSmall Size
HP                       44
Name: 781, dtype: object
782 Name    PumpkabooLarge Size
HP                       54
Name: 782, dtype: object
783 Name    PumpkabooSuper Size
HP                       59
Name: 783, dtype: object
784 Name    GourgeistAverage Size
HP                         65
Name: 784, dtype: object
785 Name    GourgeistSmall Size
HP                       55
Name: 785, dtype: object
786 Name    GourgeistLarge Size
HP                       75
Name: 786, dtype: object
787 Name    GourgeistSuper Size
HP                       85
Name: 787, dtype: object
788 Name    Bergmite
HP            55
Name: 788, dtype: object
789 Name    Avalugg
HP           95
Name: 789, dtype: object
790 Name    Noibat
HP          40
Name: 790, dtype: object
791 Name    Noivern
HP           85
Name: 791, dtype: object
792 Name    Xerneas
HP          126
Name: 792, dtype: object
793 Name    Yveltal
HP          126
Name: 793, dtype: object
794 Name    Zygarde50% Forme
HP                   108
Name: 794, dtype: object
795 Name    Diancie
HP           50
Name: 795, dtype: object
796 Name    DiancieMega Diancie
HP                       50
Name: 796, dtype: object
797 Name    HoopaHoopa Confined
HP                       80
Name: 797, dtype: object
798 Name    HoopaHoopa Unbound
HP                      80
Name: 798, dtype: object
799 Name    Volcanion
HP             80
Name: 799, dtype: object

In [11]:
# Access specific 
df.loc[df['Type 1'] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [12]:
# Summary on each column of dataframe
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [13]:
df.sort_values(['Type 1',"HP"],ascending=[True,False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making changes to the data

In [14]:
# Adding a new column call total
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] 

print(df.head())

# Remove a column
df = df.drop(columns = ['Total'])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary  Total
0       65     45           1      False    318
1       80     60           1      False    405
2      100     80           1      False    525
3      120     80           1      False    625
4       50     65           1      False    309

In [15]:
# Accessing column via iloc[:,[begin,end)] the end is exclusive in numpy
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [16]:
# Rearranging column
cols = list(df.columns)
df2 = df[cols[0:4]+[cols[-1]]+cols[4:12]]
df2

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Write df to csv

In [17]:
df2.to_csv("modified.csv",index = False) # By default ( index = True )it will write the row number
df2.to_excel("modified.xlsx",index = False) # By default ( index = True )it will write the row number
df2.to_csv("modified.txt",index = False,sep="\t") # By default ( index = True )it will write the row number

# Filtering data

In [18]:
# Filter data with property of interest 

new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['HP']>70)] # Use & (and) ,| (or)
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [19]:
# note that the old data frame index still remain, we can reset the index of new_df
new_df.reset_index(drop = True,inplace = True)
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [20]:
# Remove Pokemon name with Mega
df.loc[df['Name'].str.contains('Mega')].head(5) # Filter only has Mega

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495

In [21]:
df.loc[~df['Name'].str.contains('Mega')].head(5) # ~ is not in pandas

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405

In [22]:
import re # regular expression 
df.loc[df['Type 1'].str.contains('Fire|Grass',regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [23]:
# re.I ignore upper/lower case
df.loc[df['Type 1'].str.contains('fiRe|grAss',flags = re.I,regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [24]:
# some other patterns
df.loc[df['Name'].str.contains('^pi[a-z]',flags = re.I,regex = True)] # begin with ^

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

# Conditional Changes

In [25]:
# Change type 1 grass to greener type
df.loc[df['Type 1'] == 'Grass','Type 1'] = "Greener"
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Greener,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Greener,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Greener,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Greener,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [26]:
# Set all grass type to legendary pokemon
gdf = df.copy() # copy is required when correctly copy data.frame if not just address being assign
gdf.loc[gdf['Type 1']=='Greener','Legendary'] = True
gdf

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Greener,Poison,45,49,49,65,65,45,1,True,318
1,2,Ivysaur,Greener,Poison,60,62,63,80,80,60,1,True,405
2,3,Venusaur,Greener,Poison,80,82,83,100,100,80,1,True,525
3,3,VenusaurMega Venusaur,Greener,Poison,80,100,123,122,120,80,1,True,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [27]:
gdf.loc[gdf['Total']>500,['Generation','Legendary']] = ['Test 1','Test 2']
gdf

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Greener,Poison,45,49,49,65,65,45,1,True,318
1,2,Ivysaur,Greener,Poison,60,62,63,80,80,60,1,True,405
2,3,Venusaur,Greener,Poison,80,82,83,100,100,80,Test 1,Test 2,525
3,3,VenusaurMega Venusaur,Greener,Poison,80,100,123,122,120,80,Test 1,Test 2,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test 1,Test 2,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test 1,Test 2,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test 1,Test 2,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test 1,Test 2,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test 1,Test 2,600

# Aggregate Statistics (Groupby)

In [28]:
df['one'] = 1
df.groupby(['Type 1']).count()['one']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Greener      70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: one, dtype: int64

In [29]:
df.groupby(['Type 1']).mean().sort_values('HP',ascending = False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,one
Type 1,,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250,1.0
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673,1.0
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471,1.0
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000,1.0
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357,1.0
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333,1.0
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000,1.0
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368,1.0
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923,1.0
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444,1.0
Greener,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857,1.0
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857,1.0
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935,1.0
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000,1.0
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704,1.0
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500,1.0
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091,1.0
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536,1.0

# Working with large amounts of data

In [30]:
new_df2 = pd.DataFrame()
for dfx in pd.read_csv('pokemon_data.csv',chunksize = 5): # Load 5 row in a time
    dfx['one'] = 1
    results = dfx.groupby('Type 1').count()['one']
    new_df2 = pd.concat([new_df2,results])
    
# new_df2.groupby(0).sum()
new_df2.index.name = 'Type 1'
new_df2.reset_index(inplace = True)
new_df2.groupby('Type 1').sum()[0]

Type 1
Bug          69.0
Dark         31.0
Dragon       32.0
Electric     44.0
Fairy        17.0
Fighting     27.0
Fire         52.0
Flying        4.0
Ghost        32.0
Grass        70.0
Ground       32.0
Ice          24.0
Normal       98.0
Poison       28.0
Psychic      57.0
Rock         44.0
Steel        27.0
Water       112.0
Name: 0, dtype: float64